/* Sticky footer styles
-------------------------------------------------- */
html, body{
    height:100%
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

footer {
    position: relative;
    margin-top: -60px;; /* negative value of footer height */
    height: 60px;
    clear:both;
    text-align: center;
    background-color: #333;
}


/* Custom page CSS
-------------------------------------------------- */

body > .container {
    padding: 60px 15px 0;
}

#main-content-wrap{
    overflow:auto;
    overflow-x: hidden;
    min-height: 100%;
    padding-bottom:60px;
    padding-top: 50px;
}

.main-content-wrap > .row {
    background-color: #0099cc;
}

#main-content-wrap > .row > #right-container {
    background-color: #fff;
}

#left-nav {
    padding-right: 0;
}
#left-nav ul.navbar-nav{
    width: 100%;
}

#left-nav li {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
#left-nav li a {
    text-decoration: none;
    color: #fff;
}

#left-nav li > a:hover, #left-nav li > a:active {
    background-color: #ccc;
}

.text-muted {
    /*background-color: #ccc;*/
    margin-bottom: 30px;
    padding: 8px 0;
    text-align: center;
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

.required {
    color:red;
}
.pad-left-0{
    padding-left: 0;
}
.validation-errors{
    background-color: #ffe5e5;
    color: #ff2828;
    margin-bottom: 8px;
    padding: 14px 10px 1px 13px;
}
.red {
    color: #ff2828;
}
.row-login-form{margin-top:20px;}

#course_semsters_container {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.center {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.profile-info {
    padding-top: 15px;
}





