
.admin-page-title{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
.required {
    color: #d9534f;
    font-weight: bold;
}
.section-title {
    border-bottom: 1px solid #ddd;
    color: #888;
    display: block;
    padding-bottom: 3px;
    margin-bottom: 17px;
    margin-top: 30px;
}